.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000070;
    z-index: 999;
}

.modal-content {
    position: relative;
    z-index: 999;
    background: white;
    height: 80%;
    margin: auto;
    width: 50%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.modal-content-view {
    flex-grow: 1;
    overflow-y: auto;
}